.gitignore
/download
/.vscode/.env
/.vscode/settings.json
/__init__.spec
__pycache__
clean.sh
.history/
/build/build
/build
/build/*
/dist
/dist/*
*__pycache__*
/tidalrr/build
/tidalrr/tidalrr.egg*/*
/*.egg-info
tidalrr/tidalrr.token.json
tidalrr/.DS_Store
.DS_Store
tidalrr/tidalrr.json
tidalrr/download/*
tidalrr.spec
tidalrr/dist/*
tidalrr/config/tidalrr.json
tidalrr/config/tidalrr.token.json
config/tidalrr.json
config/tidalrr.token.json
.git
tidalrr/config*
logs/*
urls.txt
.vscode