.gitignore
/download/*
/.vscode/.env
/.vscode/settings.json
/__init__.spec
__pycache__
clean.sh
.history/
/build/build
/build
/build/*
/dist
/dist/*
*__pycache__*
/tidalrr/build
/tidalrr/tidalrr.egg*/*
/*.egg-info
tidalrr/.DS_Store
.DS_Store
.git
tidalrr/config*
logs/*
urls.txt
.vscode
config/*
import/*
/tidalrr/database/config/*