/download
/__init__.spec
__pycache__
/build/build
/build
/build/*
/dist
/dist/*
*__pycache__*
/tidalrr/build
/tidalrr/tidalrr.egg*/*
/*.egg-info
.DS_Store
tidalrr.spec
tidalrr/dist/*
urls.txt
.vscode/settings.json
one_urls.txt
tidalrr/config/*
logs/*
docker-compose.yml
.vscode
urls.txt
config*