/download
/__init__.spec
__pycache__
/build/build
/build
/build/*
/dist
/dist/*
*__pycache__*
/tidalrr/build
/tidalrr/tidalrr.egg*/*
/*.egg-info
tidalrr/.DS_Store
.DS_Store
tidalrr/tidalrr.json
tidalrr/download/*
tidalrr.spec
tidalrr/dist/*
tidalrr/config/tidalrr.json
tidalrr/config/tidalrr.token.json
tidalrr/urls.txt
tidalrr/config/PPP.py
tidalrr/config/local_backups
tidalrr/config/Playlists
tidalrr/config/PPP
tidalrr/database/database.db
urls.txt
.vscode/settings.json
one_urls.txt
tidalrr/config/database.db
tidalrr/config/old/tidalrr-example.json
tidalrr/config/old/tidalrr.json
tidalrr/config/old/tidalrr.token.json
