{% extends "base.html" %}
{% block content %}
<h1>Albums</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">duration</th>
        <th scope="col">numberOfTracks</th>
        <th scope="col">numberOfVolumes</th>
        <th scope="col">releaseDate</th>
        <th scope="col">type</th>
        <th scope="col">version</th>
        <th scope="col">cover</th>
        <th scope="col">explicit</th>
        <th scope="col">audioQuality</th>
        <th scope="col">audioModes</th>
        <th scope="col">artist</th>
        <th scope="col">artists</th>
        <th scope="col">URL</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr>
            <td>{{ row['id'] }}</td>
            <td>{{ row['title'] }}</td>
            <td>{{ row['duration'] }}</td>
            <td>{{ row['numberOfTracks'] }}</td>
            <td>{{ row['numberOfVolumes'] }}</td>
            <td>{{ row['releaseDate'] }}</td>
            <td>{{ row['type'] }}</td>
            <td>{{ row['version'] }}</td>
            <td>{{ row['cover'] }}</td>
            <td>{{ row['explicit'] }}</td>
            <td>{{ row['audioQuality'] }}</td>
            <td>{{ row['audioModes'] }}</td>
            <td>{{ row['artist'] }}</td>
            <td>{{ row['artists'] }}</td>
            <td>{{ row['url'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}