{% extends "base.html" %}
{% block content %}
<h1>Tracks</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">duration</th>
        <th scope="col">trackNumber</th>
        <th scope="col">volumeNumber</th>
        <th scope="col">trackNumberOnPlaylist</th>
        <th scope="col">version</th>
        <th scope="col">isrc</th>
        <th scope="col">explicit</th>
        <th scope="col">audioQuality</th>
        <th scope="col">audioModes</th>
        <th scope="col">copyRight</th>
        <th scope="col">artist</th>
        <th scope="col">artists</th>
        <th scope="col">album</th>
        <th scope="col">URL</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr>
            <td>{{ row['id'] }}</td>
            <td>{{ row['title'] }}</td>
            <td>{{ row['duration'] }}</td>
            <td>{{ row['trackNumber'] }}</td>
            <td>{{ row['volumeNumber'] }}</td>
            <td>{{ row['trackNumberonPlaylist'] }}</td>
            <td>{{ row['version'] }}</td>
            <td>{{ row['isrc'] }}</td>
            <td>{{ row['explicit'] }}</td>
            <td>{{ row['audioQuality'] }}</td>
            <td>{{ row['audioModes'] }}</td>
            <td>{{ row['copyRight'] }}</td>
            <td>{{ row['artist'] }}</td>
            <td>{{ row['artists'] }}</td>
            <td>{{ row['album'] }}</td>
            <td>{{ row['url'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}