{% extends "base.html" %}
{% block content %}
<h1>Config</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">albumFolderFormat</th>
        <th scope="col">apiKeyIndex</th>
        <th scope="col">audioQuality</th>
        <th scope="col">checkExist</th>
        <th scope="col">downloadDelay</th>
        <th scope="col">downloadPath</th>
        <th scope="col">includeEP</th>
        <th scope="col">language</th>
        <th scope="col">lyricFile</th>
        <th scope="col">multiThread</th>
        <th scope="col">playlistFolderFormat</th>
        <th scope="col">saveAlbumInfo</th>
        <th scope="col">saveCovers</th>
        <th scope="col">showProgress</th>
        <th scope="col">showTrackInfo</th>
        <th scope="col">trackFileFormat</th>
        <th scope="col">usePlaylistFolder</th>
        <th scope="col">lidarrUrl</th>
        <th scope="col">lidarrApi</th>
        <th scope="col">tidalToken</th>
        <th scope="col">plexUrl</th>
        <th scope="col">plexToken</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ settings['albumFolderFormat'] }}</td>
            <td>{{ settings['apiKeyIndex'] }}</td>
            <td>{{ settings['audioQuality'] }}</td>
            <td>{{ settings['checkExist'] }}</td>
            <td>{{ settings['downloadDelay'] }}</td>
            <td>{{ settings['downloadPath'] }}</td>
            <td>{{ settings['includeEP'] }}</td>
            <td>{{ settings['language'] }}</td>
            <td>{{ settings['lyricFile'] }}</td>
            <td>{{ settings['multiThread'] }}</td>
            <td>{{ settings['playlistFolderFormat'] }}</td>
            <td>{{ settings['saveAlbumInfo'] }}</td>
            <td>{{ settings['saveCovers'] }}</td>
            <td>{{ settings['showProgress'] }}</td>
            <td>{{ settings['showTrackInfo'] }}</td>
            <td>{{ settings['trackFileFormat'] }}</td>
            <td>{{ settings['usePlaylistFolder'] }}</td>
            <td>{{ settings['lidarrUrl'] }}</td>
            <td>{{ settings['lidarrApi'] }}</td>
            <td>{{ settings['tidalToken'] }}</td>
            <td>{{ settings['plexUrl'] }}</td>
            <td>{{ settings['plexToken'] }}</td>
        </tr>
    </tbody>
  </table>
{% endblock %}