{% extends "base.html" %}
{% block content %}
<h1>Settings</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.apiKeyIndex.label(class="form-label") }}
            {{ form.apiKeyIndex(class="form-select") }}
        </div>
        <div class="form-group">
            {{ form.audioQuality.label(class="form-label") }}
            {{ form.audioQuality(class="form-select") }}
        </div>
        <div class="form-group">
            {{ form.downloadPath.label(class="form-label") }}
            {{ form.downloadPath(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.albumFolderFormat.label(class="form-label") }}
            {{ form.albumFolderFormat(class="form-control") }}
        </div>
        <div class="form-group">
            <div class="form-check">
                {{ form.includeEP.label(class="form-check-label") }}
                {{ form.includeEP(class="form-check-input") }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                {{ form.saveAlbumInfo.label(class="form-check-label") }}
                {{ form.saveAlbumInfo(class="form-check-input") }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                {{ form.saveCovers.label(class="form-check-label") }}
                {{ form.saveCovers(class="form-check-input") }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                {{ form.usePlaylistFolder.label(class="form-check-label") }}
                {{ form.usePlaylistFolder(class="form-check-input") }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                {{ form.scanUserPlaylists.label(class="form-check-label") }}
                {{ form.scanUserPlaylists(class="form-check-input") }}
            </div>
        </div>
        <div class="form-group">
            {{ form.playlistFolderFormat.label(class="form-label") }}
            {{ form.playlistFolderFormat(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.trackFileFormat.label(class="form-label") }}
            {{ form.trackFileFormat(class="form-control") }}
        </div>
        <div class="form-group">
            <div class="form-check">
                {{ form.lyricFile.label(class="form-check-label") }}
                {{ form.lyricFile(class="form-check-input") }}
            </div>
        </div>
        <div class="form-group">
            {{ form.lidarrUrl.label(class="form-label") }}
            {{ form.lidarrUrl(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.lidarrApi.label(class="form-label") }}
            {{ form.lidarrApi(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.plexUrl.label(class="form-label") }}
            {{ form.plexUrl(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.plexToken.label(class="form-label") }}
            {{ form.plexToken(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.plexHomePath.label(class="form-label") }}
            {{ form.plexHomePath(class="form-control") }}
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Save Settings</button>
    </form>
{% endblock %}