<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="/static/css/sidebars.css" /> 
        {% endblock %}

        <title>Tidalrr</title>
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col-2 border-end" style="height:100%">
                    {% include "sidebar.html" %}
                </div>
                <div class="col-10 bg-light" style="height:100%">
                    {# Render flashed messages #}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class="flashes">
                                {% for category, message in messages %}
                                    <li class="alert alert-{{ category }}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>