{% block content %}
<span>Monitored albums will be scanned daily and all new tracks will be added to the download queue</span>
<br/>

<table class="table table-striped" id="table">

    <thead>
        <tr>
            <th>Title</th>
            <th>Tidal page</th>
            <th>Artists</th>
            <th>Release Date</th>
            <th>Quality</th>
            <th>Tracks</th>
            <th>Monitoring</th>
            <th>Download Status</th>
        </tr>  
    </thead>

    <tbody>
        {% for album in albums %}
        <tr>
            <td>
                <a href="/tidal/album/{{ album['id'] }}">{{ album['title'] }}</a>
            </td>
            <td>
                <a href="{{ album['url'] }}" target="_blank">Open</a>
            </td>

            <td>
                <a href="/tidal/artist/{{ album['artist'] }}">{{ album['artists'] }}</a>
            </td>
            <td>{{ album['releaseDate'] }}</td>
            <td>{{ album['audioQuality'] }}</td>
            <td>{{ album['numberOfTracks'] }}</td>

            <td>
                {% include 'tidal/album_monitoring.html' with context %}
            </td>

            <td>
                {% include 'tidal/album_status.html' with context %}
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
<br/>
{% endblock %}