{% extends "base.html" %}
<h2>Artists</h2>
{% block content %}
<br/>
<span>Queued artists will be scanned and all albums & tracks will be added to the download queue</span><br/>

<table class="table table-striped" id="table">

    <thead>
    <tr>
      <th>Name</th>
      <th>Albums</th>
      <th>Actions</th>
      <th>Completion</th> 
    </tr>
    </thead>
    
    <tbody>
    {% for artist in artists %}
    <tr>
      
      <td>
            <a href="/tidal/artist/{{ artist['id'] }}">{{artist['name']}}</a>
            <a href="{{artist['url']}}" target="_blank" class="btn btn-sm btn-outline-info">Tidal page</a>
        </td>
      
      <td>{{artist['numAlbums']}}</td>
    
      <td>
        {% include 'tidal/artist_tag.html' with context %}  
      </td>
    
      <td>
        <div class="progress">
          {% if artist['numAlbums'] > 0 %}
          <div
            class="progress-bar"
            role="progressbar"
            style="width: {{ (artist['numDownloadedAlbums'] / artist['numAlbums']) * 100 }}%;"
            aria-valuenow="{{ (artist['numDownloadedAlbums'] / artist['numAlbums']) * 100 }}"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            {{ (artist['numDownloadedAlbums'] / artist['numAlbums']) * 100 }}%
          </div>
          {% else %}
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 0%"
            aria-valuenow="0"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            0%
          </div>
          {% endif %}
        </div>
      </td>
    </tr>
    {% endfor %}
    </tbody>
    
    </table>
<br/>

{% endblock %}