{% extends "base.html" %}
{% block content %}
    <h2>Artists</h2>
    <br/>
    <span>Monitored artists will be scanned daily and all new albums & tracks will be added to the download queue</span><br/>

    <table class="table table-striped" id="table">

        <thead>
            <tr>
                <th>Name</th>
                <th>Tidal page</th>
                <th>Albums</th>
                <th>Monitoring</th>
                <th>Download Status</th> 
            </tr>
        </thead>
        
        <tbody>
        {% for artist in artists %}
        <tr>
        
            <td>
                <a href="/tidal/artist/{{ artist['id'] }}">{{artist['name']}}</a>
            </td>

            <td>
                <a href="{{artist['url']}}" target="_blank">Open</a>
            </td>
        
            <td>
                {{artist['numAlbums']}}
            </td>
            
            <td>
                {% include 'tidal/artist_monitoring.html' with context %}  
            </td>
            
            <td>
                {% include 'tidal/artist_status.html' with context %}  
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    <br/>
{% endblock %}