{% extends "base.html" %}
{% block content %}
    <h2>Playlists</h2>
    <span>Monitored playlists will be scanned daily and all new tracks will be added to the download queue</span>
    <br/>
    <table class="table table-striped" id="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Tidal page</th>
                <th>Tracks</th>
                <th>Monitoring</th>
                <th>Download Status</th>
            </tr>  
        </thead>

        <tbody>
            {% for playlist in playlists %}
                <tr>
                    <td>
                        <a href="/tidal/playlist/{{ playlist['uuid'] }}">{{ playlist['title'] }}</a>
                    </td>
                    <td>
                        <a href="{{ playlist['url'] }}" target="_blank">Open</a>
                    </td>
                    <td>{{ playlist['numberOfTracks'] }}</td>

                    <td>
                        {% include 'tidal/playlist_monitoring.html' with context %}
                    </td>

                    <td>
                        {% include 'tidal/playlist_status.html' with context %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
{% endblock %}
