{% block content %}
    {% if playlist['downloaded'] %}
        <span class="badge rounded-pill text-bg-success">Downloaded</span>
    {% elif playlist['numDownloadedTracks'] > 0 %}
        <span class="badge rounded-pill text-bg-info">
            {{ ((playlist['numDownloadedTracks'] / playlist['numberOfTracks']) * 100) | round | int }}% downloaded
        </span>
    {% elif playlist['monitored'] or playlist['inQueue'] %}
        <span class="badge rounded-pill text-bg-info">
            0% downloaded
        </span>
    {% endif %}
{% endblock %}