{% block content %}
<span>Queued tracks will be added to the download queue</span>
<br/>

<table class="table table-striped" id="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Tidal Page</th>
            <th>Duration</th>
            <th>Artists</th>
            <th>Album</th>
            <th>Quality</th>
            <th>Download Status</th>
            <th>PlexUUID</th>
        </tr>  
    </thead>

    <tbody>
        {% for track in tracks %}
            <tr>
                <td>
                    <a href="/tidal/track/{{ track['id'] }}">{{ track['title'] }}</a>
                    </td>
                <td>
                    <a href="{{ track['url'] }}" target="_blank" >Open</a>
                </td>
                <td>{{ (track['duration']/60) | round(2) }} min.</td>
                <td><a href="/tidal/artist/{{ track['artist'] }}">{{ track['artists'] }}</a></td>
                <td><a href="/tidal/album/{{ track['album'] }}">{{ track['albumTitle'] }}</a></td>
                <td>{{ track['audioQuality'] }}</td>

                <td>
                    {% if track['queued'] or track['inQueue'] %}
                        <span class="badge rounded-pill text-bg-secondary">Queued for download</span>
                    {% elif track['downloaded'] %}
                        <span class="badge rounded-pill text-bg-success">Downloaded</span>
                    {% else %}
                        <button class="btn btn-sm btn-outline-warning" onclick="downloadTrack({{ track['id'] }})">
                            Add to Queue
                        </button>
                    {% endif %}
                </td>
                <td>{{ track['plexUUID'] }}</td>

            </tr>
        {% endfor %}
    </tbody>

</table>
<br/>
{% endblock %}